.team,
.team-board {
  width: 100%;
  margin: 0 auto;
  padding: 30px 10px;
  background-color: white;
  overflow-x: hidden;
  padding: 1.8% 3%;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
}

.heading h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

.heading h1::before {
  content: "";
  left: 0;
  position: absolute;
  height: 4px;
  background-color: #3ed6ab;
  bottom: 0;
  right: 30%;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.member:hover{
  transform: scale(1.1);
}
.team-members .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 5px;
  background: #ffffff;
  padding: 20px 10px;
}

.member img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
}

.member .social_media {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.5s ease;
}
.social_media .fab {
  color: #3ed6ab;
  font-size: 28px;
}
.img-member:hover .social_media {
  transform: scale(1);
}
.advisory-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.board-member {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 30px;
}
.advisory-board .member {
  margin-bottom: 35px;
}
.team-box {
  flex: 1 1 300px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  background-color: #f5f7f9;
}
.team-box ul {
  list-style-type: disc;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.team-box li {
  margin: 5px 0;
}
h2 {
  margin: 0 0 10px;
  text-align: center;
  font-size: 1.5rem;
}
h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
}
.teams-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

@media (min-width: 1081px) {
 .board-member .member:nth-last-child(1) {
  grid-column: span 3; /* Makes the last item span all 3 columns */
  justify-self: center; /* Centers the content of the last item */
}

.board-member .member:nth-last-child(2):nth-child(3n + 2),
.board-member .member:nth-last-child(1):nth-child(3n + 1) {
  grid-column: 2; /* Center the last item in an incomplete row */
}

}
@media (max-width: 1000px) {
  .team-members,
  .advisory-board {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
  }
}

@media (max-width: 1080px) {
  .teams-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team-box {
    width: 50%;
    max-width: none;
  }
  .board-member {
    grid-template-columns: repeat(2, 1fr);
  }
  .advisory-board {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .team-box {
    margin: 20px;
  }
}

.img-member {
  background: #e5e5e5;
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 768px) {
  .teams-container {
    align-items: center;
  }
  .advisory-board,
  .team-members {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
  }
}

@media (max-width: 480px) {
  .advisory-board,
  .team-members {
    grid-template-columns: repeat(1, minmax(160px, 1fr));
  }
  .advisory h1,
  .teams h1 {
    text-align: center;
  }
  .team-box ul {
    margin-left: 0%;
  }
}
@media (max-width: 610px) {
  .team-box {
    width: 90%;
    max-width: none;
  }
}
