.footer {
  padding-top: 50px;
  padding: 5px;
  background-color: black;
  color: #777;
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-footer {
  align-items: center;
}
.logo img {
  height: 70px;
}

.footer .social .sm_icons {
  height: 0px;
  width: 30px;
  background-color: #191919;
  border-radius: 50%;
  text-align: center;
}

.footer .social .sm_icons .fa {
  padding-top: 7px;
}

.social a {
  color: #ffffff;
  display: inline-block;
  transition: all 0.5s ease;
  margin: 8px;
}
.social a:hover {
  color: #66fcf1;
}
.mahe img {
  height: 35px;
}
